<% if @readings.last.created_at < 20.minutes.ago %>
  <div class="warning">No data recieved in more than 20 minutes!</div>
<% end %>

<div class="note-links">
  <%= link_to 'Note +'.html_safe, new_note_path, remote: true, class: 'button active' %>
  <% if @notes.count > 0 %>
    <%= link_to "Show Notes (#{@notes.count})", '#', id: 'notes-link', class: 'button' %>
  <% end %>
</div>

<div id="note-form">
</div>

<div class="notes">
  <% @notes.each do |note| %>
  <div class="note">
    <div class="note-container">
      <div class="content">
        <span class="happend">
          <%= note.happend.strftime('%Y-%m-%d') %>
        </span>
        <%= note.content %>
        <% link_to '<i class="fas fa-trash-alt"></i>'.html_safe, note, method: :delete, data: { confirm: "Are you sure?" }, class: 'delete' %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="fast-facts">
  <div class="fact">
    <p><i class="fas fa-thermometer-empty"></i> <%= @readings.last.temp %> ℃</p>
  </div>
  <div class="spacer"></div>
  <div class="fact">
    <p><i class="fas fa-tint"></i> <%= @readings.last.humidity %> %</p>
  </div>
  <div class="spacer"></div>
  <div class="fact">
    <p><i class="fas fa-weight"></i> <%= @readings.last.pressure %></p>
  </div>
  <div class="spacer"></div>
  <div class="fact">
    <p><i class="fas fa-battery-three-quarters"></i> <%= @readings.last.battery %></p>
  </div>
</div>

<% is_day = @readings.last.light > Reading::SUN_THRESHOLD %>

<div class="fast-facts <%= is_day ? 'sun' : 'moon' %>">
  <div class="fact">
    <p>
      <i class="fas fa-<%= is_day ? 'sun' : 'moon' %>"></i>
      <%= ((@readings.last.light / 1023.0) * 100).round %> %</p>
  </div>
  <div class="spacer"></div>
  <div class="fact">
    <p><i class="fa fa-chevron-up" aria-hidden="true"></i> <%= @sun[:up].created_at.strftime('%H:%M') if @sun[:up] %></p>
  </div>
  <div class="spacer"></div>
  <div class="fact">
    <p><i class="fa fa-chevron-down" aria-hidden="true"></i> <%= @sun[:down].created_at.strftime('%H:%M') if @sun[:down] %></p>
  </div>
</div>

<div class="filter-buttons">
  <%= form_tag readings_path, method: :get do %>
    <%= hidden_field_tag :span, 'day' %>
    <%= submit_tag "1D", class: active_class_for('day') %>
  <% end %>

  <%= form_tag readings_path, method: :get do %>
    <%= hidden_field_tag :span, 'week' %>
    <%= submit_tag "1W", class: active_class_for('week') %>
  <% end %>

  <%= form_tag readings_path, method: :get do %>
    <%= hidden_field_tag :span, 'month' %>
    <%= submit_tag "1M", class: active_class_for('month') %>
  <% end %>

  <%= form_tag readings_path, method: :get do %>
    <%= hidden_field_tag :span, '3months' %>
    <%= submit_tag "3M", class: active_class_for('3months') %>
  <% end %>

  <%= form_tag readings_path, method: :get do %>
    <%= hidden_field_tag :span, '6months' %>
    <%= submit_tag "6M", class: active_class_for('6months') %>
  <% end %>

  <%= form_tag readings_path, method: :get do %>
    <%= hidden_field_tag :span, '12months' %>
    <%= submit_tag "12M", class: active_class_for('12months') %>
  <% end %>
  <%= form_tag readings_path, method: :get do %>
    <%= hidden_field_tag :span, '3years' %>
    <%= submit_tag "3Y", class: active_class_for('3years') %>
  <% end %>

</div>

<h2>Temp</h2>
<%= area_chart @grouped.average(:temp), colors: ["red"], max: 50, min: -5, suffix: "°C" %>

<h2>Light</h2>
<%= area_chart @grouped.average(:light), colors: ["orange"], max: 1000, min: 0 %>

<h2>Humidity</h2>
<%= area_chart @grouped.average(:humidity), colors: ["blue"], max: 100, min: 0, suffix: "%" %>

<h2>Pressure</h2>
<%= area_chart @grouped.average(:pressure), colors: ["grey"], max: 1100, min: 980, suffix: "hP" %>

<h2>Battery</h2>
<%= area_chart @grouped.average(:battery), colors: ["green"], max: 3800, min: 3500, suffix: "mV" %>
<%# area_chart @grouped.average(:battery), colors: ["green"], max: 600, min: 420 %>

<!--h2>Events</h2-->
<%# area_chart @chart_notes.group_by_day(:happend, default_value: "missing").count, colors: ["gray"], max: 10, min: 0 %>

<br/>
<table id="readings">
  <tr>
    <th>Created</th>
    <th>Temp</th>
    <th>Humidity</th>
    <th>Pressure</th>
    <th>Light</th>
    <th>Battery</th>
  </tr>
  <% @readings.order(id: :desc).limit(200).each do |reading| %>
    <tr>
      <td><%= reading.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%= reading.temp %> c</td>
      <td><%= reading.humidity %> %</td>
      <td><%= reading.pressure %> hP</td>
      <td><%= reading.light %></td>
      <td><%= reading.battery %> mV</td>
    </tr>
  <% end %>
</table>

<div class="debug">
<p>Served by: <%= @ip %></p>
</div>
