<% if @readings.last.created_at < 20.minutes.ago %>
  <div class="warning">No data recieved in more than 20 minutes!</div>
<% end %>

<div class="note-links">
  <%= link_to 'Note +'.html_safe, new_note_path, remote: true, class: 'button active' %>
  <% if @notes.count > 0 %>
    <%= link_to "Show Notes (#{@notes.count})", '#', id: 'notes-link', class: 'button' %>
  <% end %>
</div>

<div id="note-form">
</div>

<div class="notes">
  <% @notes.each do |note| %>
  <div class="note">
    <div class="note-container">
      <div class="content">
        <span class="happend">
          <%= note.happend.strftime('%Y-%m-%d') %>
        </span>
        <%= note.content %>
        <% link_to '<i class="fas fa-trash-alt"></i>'.html_safe, note, method: :delete, data: { confirm: "Are you sure?" }, class: 'delete' %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="fast-facts">
  <div class="fact <%= 'current' if @stations.length.eql?(2) %>">
   <p><%= link_to "All", root_path, style: "color:white;#{'font-weight: bold' if @stations.length.eql?(2)}" %></p>
  </div>
  <div class="spacer"></div>
  <div class="fact <%= 'current' if station_is?('Spijkenisse', @stations) %>">
   <p><%= link_to "Spijkenisse", root_path(id: 1), style: "color:white;#{'font-weight: bold' if station_is?('Spijkenisse', @stations)}" %></p>
  </div>
  <div class="spacer"></div>
  <div class="fact <%= 'current' if station_is?('Degerfors', @stations) %>">
   <p><%= link_to "Degerfors", root_path(id: 2), style: "color:white;#{'font-weight:bold' if station_is?('Degerfors', @stations)}" %></p>
  </div>
</div>

<% if @stations.length.eql?(1) %>
  <div class="fast-facts">
    <div class="fact">
      <p><i class="fas fa-thermometer-empty"></i> <%= @readings.last.temp %> ℃</p>
    </div>
    <div class="spacer"></div>
    <div class="fact">
      <p><i class="fas fa-tint"></i> <%= @readings.last.humidity %> %</p>
    </div>
    <div class="spacer"></div>
    <div class="fact">
      <p><i class="fas fa-weight"></i> <%= @readings.last.pressure %></p>
    </div>
    <div class="spacer"></div>
    <div class="fact">
      <p><i class="fas fa-battery-three-quarters"></i> <%= @readings.last.battery %></p>
    </div>
  </div>

  <% is_day = @readings.last.light > Reading::SUN_THRESHOLD %>

  <div class="fast-facts <%= is_day ? 'sun' : 'moon' %>">
    <div class="fact">
      <p>
        <i class="fas fa-<%= is_day ? 'sun' : 'moon' %>"></i>
        <%= ((@readings.last.light / 1023.0) * 100).round %> %</p>
    </div>
    <div class="spacer"></div>
    <div class="fact">
      <p><i class="fa fa-chevron-up" aria-hidden="true"></i> <%= @sun[:up].created_at.strftime('%H:%M') if @sun[:up] %></p>
    </div>
    <div class="spacer"></div>
    <div class="fact">
      <p><i class="fa fa-chevron-down" aria-hidden="true"></i> <%= @sun[:down].created_at.strftime('%H:%M') if @sun[:down] %></p>
    </div>
  </div>

<% end %>

<div class="filter-buttons">
  <%= form_tag readings_path, method: :get do %>
    <%= hidden_field_tag :span, 'day' %>
    <%= hidden_field_tag :id, @station %>
    <%= submit_tag "1D", class: active_class_for('day') %>
  <% end %>

  <%= form_tag readings_path, method: :get do %>
    <%= hidden_field_tag :span, 'week' %>
    <%= hidden_field_tag :id, @station %>
    <%= submit_tag "1W", class: active_class_for('week') %>
  <% end %>

  <%= form_tag readings_path, method: :get do %>
    <%= hidden_field_tag :span, 'month' %>
    <%= hidden_field_tag :id, @station %>
    <%= submit_tag "1M", class: active_class_for('month') %>
  <% end %>

  <%= form_tag readings_path, method: :get do %>
    <%= hidden_field_tag :span, '3months' %>
    <%= hidden_field_tag :id, @station %>
    <%= submit_tag "3M", class: active_class_for('3months') %>
  <% end %>

  <%= form_tag readings_path, method: :get do %>
    <%= hidden_field_tag :span, '6months' %>
    <%= hidden_field_tag :id, @station %>
    <%= submit_tag "6M", class: active_class_for('6months') %>
  <% end %>

  <%= form_tag readings_path, method: :get do %>
    <%= hidden_field_tag :span, '12months' %>
    <%= hidden_field_tag :id, @station %>
    <%= submit_tag "12M", class: active_class_for('12months') %>
  <% end %>
  <%= form_tag readings_path, method: :get do %>
    <%= hidden_field_tag :span, '3years' %>
    <%= hidden_field_tag :id, @station %>
    <%= submit_tag "3Y", class: active_class_for('3years') %>
  <% end %>

</div>

<h2>Temp</h2>
<%# area_chart @grouped.average(:temp), colors: ["red"], max: 50, min: -5, suffix: "°C" %>

<%= area_chart @stations.collect{ |s| { name: s.name, data: s.data.average(:temp) } }, max: 50, min: -5, suffix: "°C" %>

<h2>Light</h2>
<%= area_chart @stations.collect{ |s| { name: s.name, data: s.data.average(:light) } }, max: 1000, min: 0 %>

<h2>Humidity</h2>
<%= area_chart @stations.collect{ |s| { name: s.name, data: s.data.average(:humidity) } }, max: 100, min: 0, suffix: "%" %>

<h2>Pressure</h2>
<%= area_chart @stations.collect{ |s| { name: s.name, data: s.data.average(:pressure) } }, max: 1030, min: 975, suffix: "hP" %>

<h2>Battery</h2>
<%= area_chart @stations.collect{ |s| { name: s.name, data: s.data.average(:battery) } }, max: 3800, min: 1800, suffix: "mV" %>

<br/>
<table id="readings">
  <tr>
    <th>Created</th>
    <th>Temp</th>
    <th>Humidity</th>
    <th>Pressure</th>
    <th>Light</th>
    <th>Battery</th>
    <th>Station</th>
  </tr>
  <% @readings.order(id: :desc).limit(200).each do |reading| %>
    <tr>
      <td><%= reading.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%= reading.temp %> c</td>
      <td><%= reading.humidity %> %</td>
      <td><%= reading.pressure %> hP</td>
      <td><%= reading.light %></td>
      <td><%= reading.battery %> mV</td>
      <td><%= reading.station %></td>
    </tr>
  <% end %>
</table>

<div class="debug">
<p>Served by: <%= @ip %></p>
</div>
